.container{
margin: auto;
width: 50%;
padding: 8px;
border: 1px solid black;
}
h3{
    text-align: center;
}
input{
    display: block;
    width: 70%;
    padding: 8px;
}
label{
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color:cornflowerblue;
}